/* --- CONFIGURAÇÕES GERAIS --- */
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(231, 201, 252);
    margin: 0;
    text-align: center;
}

header {

    background-color: #8e44ad;
    color: white;
    padding: 80px 20px;
    border-radius: 0 0 80px 80px; 
    margin-bottom: 40px;
    box-shadow: 0 15x 35px rgba(142, 68, 173, 0.2);
    position: relative;
    height: 180px;
    align-items:center;
    justify-content:center;
    overflow:visible !important;
    z-index: 1;
}

h1, h2, h3, .logo span {
    font-family: 'Fredoka', sans-serif; 
    font-weight: 600;
}

header h1 {
    font-size: 3.9rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    opacity: 0.9;
}

.img-logo {
    height: 40px; 
    width: auto;
    vertical-align: middle;
    margin-right: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.animais-header {
    position: absolute;
    bottom: 0px;
    right: 60px; 
    width: 450px; 
    z-index: 10; 
    pointer-events: none; 
}
.animais-header.direita {
    right: 60px;
}

.animais-header.esquerda {
    left: 60px;
}
@media (max-width: 768px) {
    .animais-header {
        width: 120px;
        bottom: -20px;
    }
    .animais-header.esquerda {
        left: 5px;
    }
    .animais-header.direita {
        right: 5px;
    }
}

.header-card-pet {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    gap: 10px;               
    margin-bottom: 15px;
    padding: 10px 0;         
    width: 100%;             
}


/* Container para o nome e o status ficarem alinhados */
.header-card-pet h2 {
    margin: 0;               
    font-size: 1.5rem;       
    line-height: 1;          
}

/* Estilo base das etiquetas */
.status-badge {
    font-size: 0.65rem;
    padding: 4px 10px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}

/* Cores específicas para cada status */
.status-badge.disponivel {
    background-color: #d4edda;
    color: #155724;
}

.status-badge.analise {
    background-color: #fff3cd;
    color: #856404;
}

.status-badge.adotado {
    background-color: #f8d7da;
    color: #721c24;
}




/* --- NAVEGAÇÃO --- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px; 
    background: #ffffff; 
    height: 70px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky; /* Faz a barra ficar fixa no topo ao rolar */
    top: 0;
    z-index: 2000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #8e44ad;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
}

.nav-links a {
    color: indigo; 
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    position: relative; 
    padding: 5px 0;
    transition: color 0.3s ease;
}

/* --- EFEITO AO PASSAR O MOUSE E CLICAR --- */

/* Muda a cor do texto */
.nav-links a:hover, 
.nav-links a:active {
    color: #8e44ad;
}

/* Cria a linha que cresce embaixo do texto */
.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #8e44ad;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

/* --- LISTA DE ANIMAIS (CARDS) --- */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.animal-card {
    background: white;
    border-radius: 20px;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    cursor:pointer;
}

/* Faz a primeira letra de cada palavra ficar maiúscula */
.animal-card div span, 
.animal-card div {
    text-transform: capitalize;
}
/* Anula o capitalize  para o texto do parágrafo */
.animal-card p {
    text-transform: none !important;
}

.animal-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.2);
}

.animal-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-botoes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    padding: 0 15px;
}

/* --- FORMULÁRIO DE ADMINISTRAÇÃO --- */
.painel-branco {
    display: none; /* Escondido por padrão para o sistema de abas */
    background-color: #ffffff;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
#cadastro, #sobre-ong {
    display: none;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    box-sizing: border-box;
}

/* --- BOTÕES --- */
button {     /* vale para todos os botões*/
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
button:hover, .btn-flutuante:hover {
    background-color: indigo !important; 
    transform: scale(1.05); 
}

.btn-salvar {
    background-color: #8e44ad;
    padding: 15px;
    font-weight: bold;
    flex: 2;
}

.btn-adotar {
    background-color: #8e44ad;
    padding: 10px 20px;
}

.btn-remover {
    background-color: #8e44ad;
    padding: 8px 12px;
}

.btn-flutuante {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #8e44ad;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    z-index: 3000;
    transition: 0.3s;
}

.btn-flutuante:hover {
    transform: scale(1.1) rotate(90deg);
    background-color: indigo;
}

/* Botão Editar que fica dentro do card do animal */
.btn-editar {
    background-color: #ffc107; /* Amarelo para diferenciar do excluir e adotar */
    color: #000;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.btn-editar:hover {
    background-color: #e0a800;
}

/* Estilo para o botão de cancelar que adicionamos no formulário */
.btn-cancelar {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}


/* ----- EQUIPE ------*/
.equipe-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.membro-card {
    text-align: center;
}

.membro-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Faz a foto ficar redonda */
    object-fit: cover;
    border: 3px solid #8e44ad;
}

.membro-card h4 {
    margin: 10px 0 5px 0;
    color: #333;
}


/*----BUSCA-----*/
.busca-container {
    position: relative;
    z-index: 10;
    max-width: 600px;
    margin: 0 auto 30px;
}

#inputBusca {
    width: 100%;
    padding: 18px 30px;
    border-radius: 50px;
    border: none;
    font-size: 1.1rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    outline: none;
    transition: 0.3s;
}

#inputBusca:focus {
    transform: scale(1.02);
    box-shadow: 0 10px 30px rgba(142, 68, 173, 0.3);
}

/* Estilo para as novas informações nos cards */
.badge-info {
    display: inline-block;
    background: #f3e5f5;
    color: #8e44ad;
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 0.85rem;
    margin: 5px;
    font-weight: 600;
}